@using pin.Infrastructure
@if (visible)
{
    <div @onclick="HideModal" @onmousewheel="e=> Count(e)" class="modal-container">
        <div @onclick="CursorNext"  @onclick:stopPropagation="true" style="transform:scale(@(Scale.ToString(System.Globalization.CultureInfo.InvariantCulture))" class="pin-modal">
            <img src="data:image/png;base64, @source[cursor].Src64" />
            <div class="modal-bottom"></div>
        </div>
    </div>
    <style>
        body{overflow:hidden}
    </style>
}


@code {
    private bool visible;   
    public List<PinImage> source { get; set; }
    private int cursor { get;  set; }
    private double Scale = 1;
    private double ScaleSpeed = -0.001;

    private void HideModal()
    {
        visible = false;
    }

    private void CursorNext()
    {
        cursor++;
        if (cursor < 0 || cursor >= source.Count)
            cursor = 0;
    }

    public void ShowModal(List<PinImage> source, int index)
    {
        Scale = 1;
        this.source = source;
        cursor = index;
        visible = true;
        StateHasChanged();
    }

    private void Count(WheelEventArgs e)
    {
        var newScale = Scale + e.DeltaY * ScaleSpeed;
        if (newScale > 0.5)
            Scale = newScale;
    }
}