@using System.ComponentModel.DataAnnotations
<input @bind-value=@path />
<button @onclick="Submit">submit</button>

@code {
    private string path = "C:/";
    private string errorMSg = "";
    [Parameter]
    [Required]
    public EventCallback<string> OnClickCallback { get; set; }

    private void Submit()
    {
        if (Path.Exists(path))
            OnClickCallback.InvokeAsync(path);
        else
            errorMSg = "invalid path, try more";
    }
}
