@using System.ComponentModel.DataAnnotations
@using CommunityToolkit.Maui.Storage
@using Microsoft.Maui.Storage

<button @onclick="OnInputFileChange">Choose folder</button>

@* <InputFile OnChange="@OnInputFileChange" webkitdirectory  directory /> *@

<div>
@errorMSg
</div>
@code {
    private string errorMSg = "";
    [Parameter]
    [Required]
    public EventCallback<string> OnClickCallback { get; set; }
    [Parameter]
    public string InitPath { get; set; }

    private async Task OnInputFileChange()
    {
        try
        {
            var folder = await FolderPicker.PickAsync(InitPath, default);
            if (folder.IsSuccessful)
                await OnClickCallback.InvokeAsync(folder.Folder.Path);
            else
                errorMSg = "smth go wrong";
        }
        catch (Exception e)
        {
            errorMSg = e.Message;
        }
    }
}
